:root {
    --boldfont: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;;
}

body {
    margin: 0 3em 0 3em;
}

/* NAVBAR SETTINGS */

#menu {
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
}
#menu nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
}
#menu .navigation {
    display: inline-block;
}

#menu .companyName {
    display: block;
    float: left;
    padding-left: 30px;
    padding-top: 0.3em;
    font-family: var(--boldfont);
    color: white;
    font-size: 1.9rem;
    font-weight: 900;
}
#menu .nav-menu {
    margin-top: 0.3em;
    padding-right: 5vw;
}
#menu ul li  {
    margin-left: 2em;
    float: right;
    list-style: none;
    padding-top: 0.85em;
}
#menu ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 15px;
    font-weight:700;
    font-size: 1.2rem;
}
#menu ul li a:hover {
    background-color: hsl(196, 82%, 51%);
    border-radius: 25px;
    } 
#menu .title {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;  
    color: white;
    font-size: 4em;
    font-family: var(--boldfont);
    word-spacing: 1.3rem;
}
#menu .arrow {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(115, 115, 115)
}

/* FIRST SECTION */

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(600px, auto));
}
.grid-item-2 {
    background-image: url(/images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.grid-item-3 {
    background-image: url(/images/desktop/image-stand-out.jpg);
    background-size: 100% 100%;
    background-position: center;
}
.grid-item-1,
.grid-item-4 {
    padding: 6.5rem;
}
.grid-item-5,
.grid-item-6  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.grid-item-5 h3,
.grid-item-6 h3 {
    padding-bottom: 3em;
    margin: 0 1em 0 1em;
}
.grid-item-5 {
    background-image: url(/images/desktop/image-graphic-design.jpg);
    background-size: 100% 100%;
    background-position: center;
}
.grid-item-6 {
    background-image: url(/images/desktop/image-photography.jpg);
    background-size: 100% 100%;
    background-position: center;
}
.grid-wrapper .title-info {
    font-size: 4rem;
    font-weight: 800;
    font-family: var(--boldfont);
    margin-bottom: 1.5rem;
}
.grid-wrapper .text-info {
    font-size: 1.4rem;
    line-height: 35px;
    color: rgb(110, 110, 110);
    margin-bottom: 1rem;
}
.grid-wrapper a {
    text-decoration: none;
    font-family: var(--boldfont);
    color: black;
}
.grid-wrapper a:hover {
    border-bottom: 8px solid yellow;
    border-radius: 7px;
}

/* SECOND SECTION */

.client-testim h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 0 7rem 0;
    letter-spacing: 15px;
    color: rgb(147, 145, 145);
    font-family: var(--boldfont);
}
.grid-wrapper-testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
}
.grid-item-testim-1,
.grid-item-testim-2,
.grid-item-testim-3 {
    text-align: center;
}
.grid-wrapper-testimonials img {
    border-radius: 5rem;
}

.grid-wrapper-testimonials img,
.grid-wrapper-testimonials h2 {
    margin-bottom: 4rem;
}
.grid-wrapper-testimonials h2 {
    color: rgb(117, 117, 117);
    font-style: italic;
}
.grid-wrapper-testimonials h1 {
    font-family: var(--boldfont);
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.grid-wrapper-testimonials h3 {
    color: rgb(147, 145, 145);
    font-weight: bold;
    font-size: 1rem;
}
.grid-wrapper-images {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
}
.grid-wrapper-images img {
    width: 100%;
    height: 100%
}

/* FOOTER SECTION */

.company-name-footer {
    padding: 1rem;
    color: hsl(168, 60%, 20%);
    text-align: center;
    font-family: var(--boldfont);
    font-weight: 900;
    margin-bottom: 1rem;
}
footer {
    background-color: #78c6b8;
    height: 100%;
}
.links {
    display: flex;
    justify-content: center;
    list-style: none;
}
.links a {
    margin:1.2rem;
    text-decoration: none;
    color: hsl(168, 60%, 20%);
    font-weight: bold;
}
.links a:hover {
    color: white
}
.icons {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 3rem 3rem 0 3rem;
    padding-bottom: 1rem;
}
.icons li {
    margin: 0 0.5rem 0 0.5rem;
}
#icon:hover {
    fill: white
}
/* MEDIA QUARIES */
@media only screen and (max-width:992px) {
    
    body {
        margin: 0;
    }
    #menu {
        height: 60vh;
    }
    #menu .title {
        margin-top: 3rem;
        font-size: 3em;
        word-spacing: 1.2rem;
    }
    .grid-wrapper {  
        grid-template-rows: repeat(3, minmax(400px, auto)); 
    }
    .grid-item-1,
    .grid-item-4 {
        padding: 3rem;
    }
    .client-testim h1 {
        text-align: center;
    }
    .grid-wrapper .title-info {
        font-size: 2rem; 
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .grid-wrapper .text-info {
        font-size: 1.1rem;
        line-height: 25px;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width:768px) {
    .hamburger {
        margin-top: 0.5em;
        display: block;
        width:auto;
        left: 85%;
        position: fixed;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        width: 80%;
        text-align: center;
        transition: 0.3s;
    }
  #menu ul li a {
        color: rgb(115, 115, 115) !important;
        font-weight: 700;
    }
    .nav-menu.active {
        left: 10%; 
        display: flex;
        position: fixed;
        background-color: rgb(255, 255, 255);
        padding: 3em 0 3em 0;
        gap: 15px;
        margin-top: 0em;
        padding-right: 0;
        border-radius: 20px;
    }
    #menu .title {
        font-size: 2em;
    }
}
@media only screen and (max-width:480px) {

    #menu {
        height: 50vh;
    }
    #menu .companyName {
        font-size: 1.2rem;
        position: fixed;
        color: rgb(115, 115, 115)
    }
    #menu .title {
        margin-top: 2rem;
        font-size: 1.5em;
        word-spacing: 1rem;
    }
    #menu .arrow {
        display: flex;
        justify-content: center;
        margin-top: 24vh;
        height: 15%;
    }
    .grid-wrapper {  
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(380px, auto)); 
    }
    .grid-item-1,
    .grid-item-4 {
        padding: 2rem;
    }
    .grid-item-5 h3,
    .grid-item-6 h3 {
        padding-bottom: 0.5em;
        margin: 0 1em 0 1em;
    }
    .grid-wrapper .title-info {
        font-size: 2rem; 
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .grid-wrapper .text-info {
        font-size: 1.1rem;
        line-height: 25px;
        margin-bottom: 0.5rem;
    }
    .client-testim h1 {
        padding: 5rem 0 5rem 0;
        text-align: center;
        font-size: 1.3em;
    }
    .grid-wrapper-testimonials {
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
    }
    .grid-wrapper-testimonials img {
        border-radius: 5rem;
    }
    .grid-wrapper-testimonials h2 {
        font-size: 1em;
        padding: 0 1em 0 1em;
    }
    .grid-wrapper-testimonials img,
    .grid-wrapper-testimonials h2 {
        margin-bottom: 3rem;
    }
    .grid-wrapper-testimonials h1 {
        font-size: 1.1rem;
    }
    .grid-wrapper-testimonials h3 {
        font-size: 1rem;
    }
    .grid-wrapper-images {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: auto;
    }
    .grid-wrapper-images img {
        width: 100%;
        height: 100%
    }
    .grid-wrapper > .grid-item-1 {order: 2;}
    .grid-wrapper > .grid-item-2 {order: 1;}
    .grid-wrapper > .grid-item-3 {order: 3;}
    .grid-wrapper > .grid-item-4 {order: 4;}
    .grid-wrapper > .grid-item-5 {order: 5;}
    .grid-wrapper > .grid-item-6 {order: 6;}

}